<form id="frm_edit_product" name="produtoEditForm" novalidate>
    <div class="modal-header">
        <button type="button" class="close" ng-click="vm.cancel()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">
            <span>@L("Edit") @L("Product")</span>
        </h4>
    </div>
    <div class="modal-body">
        <div class="row clearfix">
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <label for="productname" class="form-label">@L("Name")</label>
                    <div class="form-line">
                        <input id="productname" type="text" name="ProductName" ng-model="vm.product.name" required maxlength="32" minlength="2" class="validate form-control">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group form-float">
                    <label for="value" class="form-label">@L("Value")</label>
                    <div class="form-line">
                        <input id="value" type="number" name="Value" ng-model="vm.product.value" required maxlength="50" minlength="1" class="validate form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <label for="description" class="form-label">@L("Description")</label>
                    <div class="form-line">
                        <input id="description" type="text" name="Description" ng-model="vm.product.description" required maxlength="50" minlength="2" class="validate form-control">
                    </div>
                </div>
            </div>
        </div>

        <br />

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default waves-effect" ng-click="vm.cancel()">
            @L("Cancel")
        </button>
        <button type="submit" class="btn btn-primary waves-effect" ng-click="vm.save()" ng-disabled="produtoEditForm.$invalid">
            @L("Save")
        </button>
    </div>
</form>