<div class="row clearfix" ng-controller="app.views.products.product_index as vm">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card main-content">
            <div class="header">
                <h2>
                    @L("Products")
                </h2>
            </div>
            <div class="body table-responsive">
                <!-- ******************************************************** -->
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>@L("Name")</th>
                            <th>@L("Description")</th>
                            <th>@L("Value")</th>
                            <th>@L("Actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in vm.products">
                            <td class="td--1">{{product.name}}</td>
                            <td class="td--2"><div class="table-truncate__body">{{product.description}}</div></td>
                            <td class="td--3">$ {{product.value}}</td>
                            <td class="td--4">
                                <div class="pull-right">
                                    <button class="btn bg-primary text-white overdue"
                                            ng-click="vm.editProduct(product)">
                                        <span class="fa fa-edit text-white">&nbsp;</span>@L("Edit")
                                    </button>
                                    <button class="btn bg-secondary text-white overdue"
                                            ng-click="vm.delete(product)">
                                        <span class="fa fa-trash text-white">&nbsp;</span>@L("Delete")
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- ******************************************************** -->
                <div class="col-lg-12">
                    <div class="pull-right">
                        <button class="btn bg-primary text-white overdue"
                                ng-click="vm.createProduct()">
                            <span class="fa fa-plus text-white">&nbsp;</span>@L("New")
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .table-truncate {
        position: relative;
    }

    .table-truncate__body {
        position: absolute;
        max-width: 95%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .td--1 {
        width: 20%;
    }

    .td--2 {
        width: 50%;
    }

    .td--3 {
        width: 10%;
        vertical-align: top;
    }

    .td--4 {
        width: 20%;
        vertical-align: top;
    }
</style>